<section>
<div class="container">
    <div class="row">
        <h1>Edit Product</h1>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/admin/edit-product/{{product._id}}" method="POST" enctype="multipart/form-data">
                

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" value="{{product.name}}">
                </div>

                <div class="form-group">
                    <label for="category">Category</label>
                    <input type="text" class="form-control" name="category"  value="{{product.category}}">
                </div>
                 <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" name="price"  value="{{product.price}}">
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description"  value="{{product.description}}">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <img src="/product-images/{{product._id}}.jpeg" alt="" style="width: 100px; height:auto" id="imgView" class="pt-3">
                    <input type="file" class="form-control" name="image" onchange="viewImage(event)">
                </div>
                 <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</section>
<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>